<!-- <div id="loader" *ngIf="!containers">
    <div class="spinner-border text-primary" role="status"></div>
</div> -->

<div class="p-2" id="provider">




    <div class="card">



        <!--<h3 style="font-weight: 500;font-style: normal;margin-left: 15px;" class="header_title">Provider Details</h3>-->
        <h2 class="heading_title"> <ion-icon name="business" style="color:rgb(19, 137, 195) !important;"></ion-icon> Provider <span style="color:#2d8cff;">Details</span></h2><br>
        <ul class="listview image-listview custom-list" >
            <li *ngFor="let item of containers" style="border:0px !important;">
                <!-- {{ JSON.stringify(item)}} -->
                <div class="">
                    <div>
                        
                            <div class="row my_visit_list_top col-12">

                                <div class="user-block">
                                    <br>
                                    <img class="img-circle img-bordered-sm" src="assets/img/default.png" alt="User Image">
                                    <span class="username">
                                        <header> <span class="text-muted user_title" style="color:#f26d21 !important; font-size: 17px !important;">{{ item.name[0].prefix.join()+' '+item.name[0].family+' ' +item.name[0].given.join()}}</span>
                                    </header>
                                    </span>
                                    <span class="description"> <span class="user_desc">{{ item.name[0].prefix.join()+' '+item.name[0].family+' , ' +item.name[0].given.join()}}</span>
                                    <footer>
                                        <ion-icon name="call"></ion-icon> {{item.telecom[0].system=='phone' ? item.telecom[0].value : ''}}
                                    </footer>
                                    </span>
                                </div>
                            </div>
                            <!--                            <header>{{ item.name[0].prefix.join()+' '+item.name[0].family+' ' +item.name[0].given.join()}} </header>
                            {{ item.name[0].prefix.join()+' '+item.name[0].family+' ' +item.name[0].given.join()}}
                            <footer>
                                <ion-icon name="call"></ion-icon> {{item.telecom[0].system=='phone' ? item.telecom[0].value : 'N/A'}}
                            </footer>-->
                        
                        <br>
                        <!-- <div class="text-right col-md-12 col-sm-12">
                            <div class="custom-footer text-right">
                                <strong>Last Date of Service</strong> : {{item.resource.meta.lastUpdated ? (item.resource.meta.lastUpdated | date:'MM/dd/yyyy') : 'N/A'}}

                                <br>
                                <br> </div>
                        </div> -->
                    </div>

                </div>

            </li>



        </ul>
		<div class="astrodivider" style="margin-top: 14px !important;"><div class="astrodividermask"></div><span><i class="fa fa-paper-plane"></i></span></div>
		<h3 class="header-title">Assessment & Plan of Treatment</h3>
       <!-- <h3 style="font-weight: 500;font-style: normal;" class="header_title">Assessment & Plan of Treatment</h3>-->
		<!--<h2 class="heading-1">Assessment & Plan of Treatment</h2>
			<div class="divider-1"> <span></span></div>-->
        <!--<h3 class="text-muted text-muted_title">Assessment & Plan of Treatment</h3>-->
        <div id="u110_div" class="pagination " *ngIf="container['CarePlan']" style="padding: 0px; margin:0px;">
			<div *ngFor="let item of container['CarePlan'].entry">
				<span><strong>{{ item.resource.category ? item.resource.category[0].text :'N/A'}}</strong></span><br/>
				<span class="desc" *ngFor="let itemm of item.resource.activity">{{ itemm.detail.code.text}}, </span>
				<div class="row desc"><br><br>
					<div class="col-6 text-left "><strong>Intent : </strong>{{ item.resource.intent ? item.resource.intent :'N/A'}}</div>
					<div class="col-6 text-right "><strong>Status : </strong>{{ item.resource.status ? (item.resource.status) :'N/A'}}</div>
				</div>
				
			</div>
           <!-- <div class=" table-responsive">
                <table class="table  table-bordered">
                    <thead>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Intent</th>
                        <th>Status</th>

                    </thead>
                    <tr *ngFor="let item of container['CarePlan'].entry">
                        <td>{{ item.resource.category ? item.resource.category[0].text :'N/A'}}</td>
                        <td><span *ngFor="let itemm of item.resource.activity">{{ itemm.detail.code.text}},<br></span></td>
                        <td>{{ item.resource.intent ? item.resource.intent :'N/A'}}</td>
                        <td>{{ item.resource.status ? (item.resource.status) :'N/A'}}</td>
                    </tr>

                </table>
            </div>-->




            <!-- <p>Title : {{ container['CarePlan'].entry[0].resource.title ? container['CarePlan'].entry[0].resource.title :'N/A'}}</p>
            <p>Description : {{ container['CarePlan'].entry[0].resource.description ? container['CarePlan'].entry[0].resource.description :'N/A'}}</p>
            <p>Intent : {{ container['CarePlan'].entry ? container['CarePlan'].entry[0].resource.intent :'N/A'}}</p>
            <p>Status : {{ container['CarePlan'].entry ? container['CarePlan'].entry[0].resource.status :'N/A'}}</p> -->


        </div>


    </div>