<div class="p-2">
    <div class="card bg-light">
        <div class="card-header">
            <h2>
                My Medical History
            </h2>
            <span>
                Tap to see more info
            </span>
        </div>
        <div>
            <div class="accordion" id="accordionExample1">
                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion1" aria-expanded="false">
                           <h3>Allergies</h3>
                        </button>
                    </div>
                    <div id="accordion1" class="accordion-body collapse" data-parent="#accordionExample1" style="">
                        <div class="accordion-content">
                            Allergies info ....
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion2" aria-expanded="false">
                            <h3>Immunizations</h3>
                        </button>
                    </div>
                    <div id="accordion2" class="accordion-body collapse" data-parent="#accordionExample1" style="">
                        <div class="accordion-content">
                            Immunizations Info ...
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion3" aria-expanded="false">
                            <h3>Prescriptions</h3>
                        </button>
                    </div>
                    <div id="accordion3" class="accordion-body collapse" data-parent="#accordionExample1" style="">
                        <div class="accordion-content">
                            Prescriptions ...
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion4" aria-expanded="false">
                            <h3>Labs</h3>
                        </button>
                    </div>
                    <div id="accordion4" class="accordion-body collapse" data-parent="#accordionExample1" style="">
                        <div class="accordion-content">
                            Labs ...
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion5" aria-expanded="false">
                        <h3>Problem List</h3>
                        </button>
                    </div>
                    <div id="accordion5" class="accordion-body collapse" data-parent="#accordionExample1" style="">
                        <div class="accordion-content">
                            Problem List ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>