<div class="container ">
<br>
	<h2 class="heading_title"> <i class="fa fa-flask icon" aria-hidden="true"></i> Laboratory <span style="color:#2d8cff;">Results</span></h2><br>
	<div class="row" *ngFor="let item of container let i = index">
		<div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-calendar" aria-hidden="true" style="padding-right:5px"></i> {{ item.resource.effectiveDateTime |date:'MM/dd/YYYY' }}
                </div>
                <div class="panel-body panel-scroll ps-container ps-theme-default ps-active-y">
                    <ul class="todo">
                        <li *ngFor="let itemm of item.resource.result let j = index">
							<span class="todo-actions">
								<span class="desc" style="opacity: 1; text-decoration: none; "><span style="font-weight: 700;">{{ itemm.display}} </span><br>(

                    <span style="padding: 20px;" id="aa_value_{{i}}_{{j}}" (onCreate)="getValue(itemm.reference,i,j);" style="padding: 5px;"></span> / <span id="aa_unit_{{i}}_{{j}}" style="padding: 5px; "></span>)
                   </span>
							</span>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
	
	</div>
   <!-- <h3 style="font-weight: 500;font-style: normal;margin-left: 0px;" class="header_title">Laboratory Results</h3><br>
    <table class="table table-bordered">
        <thead>
            <th>Result</th>
            <th>Date</th>
        </thead>
        <tr *ngFor="let item of container let i = index">
            <td>
                <div *ngFor="let itemm of item.resource.result let j = index">
                    {{ itemm.display}} <br>(

                    <span style="padding: 20px;" id="aa_value_{{i}}_{{j}}" (onCreate)="getValue(itemm.reference,i,j);" style="padding: 5px; font-weight: 700;"></span> / <span id="aa_unit_{{i}}_{{j}}" style="padding: 5px; font-weight: 700;"></span>)
                    <br><br>
                </div>
            </td>
            <td> {{ item.resource.effectiveDateTime |date:'MM/dd/YYYY' }}</td>
        </tr>
    </table>-->
</div>