<div class="container ">
    <br>
	<h2 class="heading_title"> <ion-icon name="receipt" style="color:rgb(19, 137, 195) !important;"></ion-icon> My <span style="color:#2d8cff;">Information</span></h2><br>
    <br>
    <div class="row" *ngIf="this.container['config'].length>0" style="border: 1px solid #ddd; padding: 10px;border-radius: 10px; margin:0px">
        <div class="col-lg-12">
            <div class="row">
                <ng-container *ngFor="let item of container['config']">
                    <div class="col-sm-3" style="border-bottom:1px solid #eee; padding-top:10px">
                        <p style="margin-bottom:0px" class="f-w-600"><strong>{{item.text}}</strong></p>
                        <h6 class="text-muted f-w-400">{{getValue(item.code)}}</h6>
                    </div>

                    <!--<div class="text-left col-md-6">{{item.text}}</div>
                    <div class="text-right col-md-6">{{getValue(item.code)}}</div>-->


                </ng-container>
            </div>
        </div>

    </div>
</div>