.l_white{
    color: white !important;
}

.small, small {
    font-size: 74%;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    margin-bottom: 15px;
}


.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}

.bg-orange {
    background-color: #f26d21 !important;
}
.bg-green {
	 background-color: #34c759 !important;
}

.icon_orange{
	color:#f26d21;
	
	
}

.info-box-icon_details {
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0px;
    display: block;
    float: left;
    height: 90px;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 90px;
   padding-top: 0px;
	color:#fff;
}

.info-box-content_details{
	padding: 5px 10px;
    margin-left: 40px;
}
.info-box-icon {
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0px;
    display: block;
    float: left;
    height: 90px;
    width: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
	padding-top: 30px;
	color:#fff;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 60px;
}

.info-box-text {
    text-transform: ;
	 font-size: 16px;
	 font-weight:bold;
}


.progress-description, .info-box-text {
    display: block;
   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-number {
    display: block;
    font-size: 13px;
}

ul{
	list-style-type: none !important;
	padding-left: 10px !important;
	
}
li{
	font-size:13px;
	padding-bottom:2px;
}