<!-- <div id="loader" *ngIf="!container.entry">
    <div class="spinner-border text-primary" role="status"></div>
</div> -->


<div class="p-2" id="provider">

    <div *ngIf="isDefault">

        <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
        <div class="card">




            <h2 class="heading_title"> <i class="fa fa-history icon" aria-hidden="true"></i> My Visit <span style="color:#2d8cff;">History</span></h2><br>
            <ul class="listview image-listview custom-list">

                <li *ngFor="let item of container.entry | paginate: { itemsPerPage: 5, currentPage: p, id: 'first' }; let i = index">
                    <a class="row my_visit_list_top" (click)="goToDetail(item.fullUrl)">
                        <div class="col-12">
                            <div class="text-left col-md-12 col-sm-12">
                                <br>
                                <header>
                                    <div class="user-block">

                                        <span class="username" style="margin-left:10px;">
                                            <span class="text-muted user_title" style="color: #f26d21 !important; font-size: 17px !important;">{{ item.resource.subject.display}}(Subscriber)</span>

                                        </span>
                                        <span class="description" style="margin-left:10px;"> <span class="user_desc" id="org_{{i}}" (onCreate)="getOrgNameBasedonID(item.resource.serviceProvider,i)" ></span>
                                        <span class="user_desc" id="orgadr_{{i}}" (onCreate)="getOrgAdrBasedonID(item.resource.serviceProvider,i)" style="/*color:#015478;*/">
                                           
                                        </span></span>
                                    </div>

                                    <!-- <span class="text-muted" style="color:#4F5050 !important; font-size: 16px !important;">{{ item.resource.subject.display}}(Subscriber)</span>
                                    <!-- <span>{{ container['provider'] ? container['provider'].name :'N/A'}}</span> ->
                                    <span id="org_{{i}}" (onCreate)="getOrgNameBasedonID(item.resource.serviceProvider,i)" style="font-family: 'arial', sans-serif; font-weight: normal; font-size: 13px; /* color: #015478; */"></span>
                                    <span id="orgadr_{{i}}" (onCreate)="getOrgAdrBasedonID(item.resource.serviceProvider,i)" style="font-family:'arial', sans-serif;font-weight:normal;font-size:13px; line-height: 16px;/*color:#015478;*/">
                                       
                                    </span>-->
                                </header>
                            </div>
                            <br>
                            <div class="text-right col-md-12 col-sm-12">

                                <div class="custom-footer text-right">
                                    <span style="color: #4a4747;"><small><strong>Date of Service</strong>  : {{ item.resource.period.start | date:'MM/dd/yyyy' }}</small>
                                    </span> 

                                </div>
                                <br> <br></div>
                        </div>
                    </a>


                </li>




            </ul>

            <div class="float-right pagination">
                <pagination-controls (pageChange)="p = $event" id="first"></pagination-controls>
            </div>

        </div>
    </div>
    <div *ngIf="!isDefault">
        <!-- <h3 class="text-center">My Visit History<br> Details

        </h3>-->
        <h2 class="heading_title"> <i class="fa fa-flask icon" aria-hidden="true"></i> My Visit <span style="color:#2d8cff;">History Details</span></h2><br>
        <ul class="listview image-listview list_border">
            <li>
                <div class="item" style="padding-left: 0px;">

                    <div class="in">



                        <div>

                            <div class="col-12">
                                <div class="text-left col-md-12 col-sm-12">
                                    <br>
                                    <header>
                                        <div class="user-block">
                                            <span class="text-muted user_title" style="color: #f26d21 !important; font-size: 17px !important;">{{ container['details'] ? container['details'].subject.display:'N/A'}}</span>
                                            <!-- <span style="font-family:'Montserrat-Bold', 'Montserrat Bold', 'Montserrat', sans-serif;font-weight:700;font-size:16px;color:#015478;">
                                                {{ container['provider']?container['provider'].name:'N/A'}} 
                                            </span> -->

                                            <span class="user_desc"><i class='fa fa-hospital-o' aria-hidden='true' style='margin-right:8px;'></i> {{ container['provider_name']?container['provider_name'].name:'N/A'}}</span>
                                            <span class="user_desc">
                                               <i class='fa fa-envelope' aria-hidden='true' style='margin-right:8px;'></i> {{ container['provider_name'].address ?container['provider_name'].address[0].line[0]+" "+container['provider_name'].address[0].city+" " :'N/A'}} </span>
                                        </div>
                                    </header>

                                </div>
                            </div>
                            <div class="text-right col-md-12 col-sm-12">
                                <span class="text-muted">
        
                                    <footer class="text-right text-muted text-nowrap" style="font-size: 16px;"><span
                                        style="color: #4a4747; font-weight: normal;"><small><strong>Date
                                            of Service </strong>: {{ container['details'] ? (container['details'].period.start | date:'MM/dd/yyyy') :'' }} </small></span> </footer>
                                </span>
                            </div>

                        </div>

                    </div>
                </div>
                <br />

            </li>
        </ul>
        <br>


        <!--<h3 style="font-weight: 500;font-style: normal;" class="header_title">Clinical Notes</h3>-->
		<h3 class="header-title">Clinical Notes</h3>
		<!--<h2 class="heading-1">Clinical Notes</h2>
		<div class="divider-1"> <span></span></div>-->
        <div id="u110_div" class="" *ngIf="container['details'].type">

            <p *ngFor="let data of container['details'].type;"><span style="font-weight:200;"><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{data.text}}
                    </span></p>
					
        </div>

    </div>
</div>