<div class="appHeader bg-primary scrolled">
    <div class="left">
        <a href="#" id="sidebar_model" class="headerButton d-block d-sm-none " data-toggle="modal" data-target="#sidebarPanel">
            <ion-icon name="menu-outline"></ion-icon>
        </a>
        <a href="#" class="headerButton d-none d-sm-block">
            <img src="assets\img/logo.png" class="brand" />
        </a>

    </div>
    <div class="d-block d-sm-none left" style="left: 70px;">
        <img src="assets\img/logo.png" class="brand2" />
    </div>
    <div class="text-center hidden-xs">
        <h3 class="pageTitle">
            <h3 *ngIf="isDashboard" style="margin-left: 20px;">{{ msg }}</h3>
        </h3>
    </div>

    <div class="right">

        <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
            <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user user_profile"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>                <br> <span class="profilename" *ngIf="user">      {{ user.name?user.name[0].family+', '+user.name[0].given.join() :'' }}</span>
            </a>
            <div class="dropdown-menu position-absolute animated fadeInUp" aria-labelledby="userProfileDropdown">
                <div class="dropdown-item  d-lg-none d-md-none">
                    <div class="user-profile-section">
                        <a (click)="goToProfile('profile')" *ngIf="user">
                            {{ user.name?user.name[0].family+', '+user.name[0].given.join() :''}}
                    
                    </a>

                    </div>
                </div>
                <div class="dropdown-item">
                    <a (click)="goToProfile('profile')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>                        <span>My Profile</span>
                    </a>
                </div>

                <div class="dropdown-item">

                    <a (click)="logOut()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>                        <span> Logout
                    </span></a>



                </div>
            </div>
        </li>
    </div>



</div>
<!-- * App Header -->

<!-- Search Component -->
<div id="search" class="appHeader">
    <form class="search-form">
        <div class="form-group searchbox">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="input-icon">
                <!-- <ion-icon name="search-outline"></ion-icon> -->
            </i>
            <a href="javascript:;" class="ml-1 close toggle-searchbox">
                <!-- <ion-icon name="close-circle"></ion-icon> -->
            </a>
        </div>
    </form>
</div>
<!-- * Search Component -->
<div class="side-nav hidden-xs">

    <ul class="listview flush transparent no-line image-listview mt-2">


        <li>
            <a (click)="goToDashBoard('home')" class="item">
                <div class="icon-box">
                    <ion-icon name="home"></ion-icon>

                </div>
                <div class="in">
                    <div>Home</div>
                </div>
            </a>
        </li>
        <li>
            <a (click)="goToVisit('visit')" class="item">
                <div class="icon-box">
                    <i class="fa fa-history icon" aria-hidden="true"></i>

                </div>
                <div class="in">
                    <div>Visit History</div>
                </div>
            </a>
        </li>

        <li>
            <a (click)="goLabResult('insures')" class="item">
                <div class="icon-box">
                    <i class="fa fa-flask icon" aria-hidden="true"></i>
                </div>
                <div class="in">
                    <div> Lab Result</div>
                </div>
            </a>
        </li>


        <li>
            <a (click)="insuranceInfo('insures')" class="item">
                <div class="icon-box">
                    <i class="fa fa-file-text icon" aria-hidden="true"></i>
                </div>
                <div class="in">
                    <div> Insurance Details</div>
                </div>
            </a>
        </li>
        <li>
            <a (click)="goToProviders('provider')" class="item">
                <div class="icon-box">
                    <ion-icon name="business"></ion-icon>
                </div>
                <div class="in">
                    <div> Provider Details</div>
                </div>
            </a>
        </li>

        <li>
            <a (click)="goToVital('vital')" class="item">
                <div class="icon-box">
                    <ion-icon name="receipt"></ion-icon>

                </div>
                <div class="in">
                    <div> Vital Signs</div>
                </div>
            </a>
        </li>
        <li>
            <a (click)="goToMedical('medical')" class="item">
                <div class="icon-box">
                    <ion-icon name="medkit"></ion-icon>

                </div>
                <div class="in">
                    <div> Medical History</div>
                </div>
            </a>
        </li>

        <li>
            <a (click)="goToProfile('profile')" class="item">
                <div class="icon-box">
                    <ion-icon name="person"></ion-icon>

                </div>
                <div class="in">
                    <div> Patient Profile</div>
                </div>
            </a>
        </li>




    </ul>



</div>

<!-- App Capsule -->
<div id="appCapsule">


    <!-----main container-->
    <ng-template #dynamicComponentPlaceHoloder></ng-template>

</div>
<!-- App Bottom Menu -->
<div class="appBottomMenu hidden-lg">
    <a (click)="goToDashBoard('home')" class="item" [ngClass]="{'active':active == 'home'}">
        <div class="col">
            <ion-icon name="home-outline"></ion-icon>
            Home
        </div>
    </a>
    <a (click)="insuranceInfo('insures')" class="item" [ngClass]="{'active':active == 'insures'}">
        <div class="col">
            <ion-icon name="alert-circle-outline"></ion-icon>
            Insurance Info
        </div>
    </a>
    <a (click)="goToMedical('medical')" class="item" [ngClass]="{'active':active == 'myMedical'}">
        <div class="col">
            <ion-icon name="person-circle-outline"></ion-icon>
            My Medial History
        </div>
    </a>
    <a (click)="goToProviders('provider')" class="item" [ngClass]="{'active':active == 'provider'}">
        <div class="col">
            <ion-icon name="swap-vertical-outline"></ion-icon>
            My Provider
        </div>
    </a>




</div>
<!-- * App Bottom Menu -->

<!-- App Sidebar -->
<div class="modal fade panelbox panelbox-left  d-sm-none " id="sidebarPanel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: rgba(242, 242, 242, 1);">
            <div class="modal-body p-0">
                <div class="image-wrapper navbar_img">
                    <a (click)="goToProfile('profile')">
                        <img style="height: 100px;width: 100px;margin-left: 20px;" [src]="user.gender!= 'male' ? '../../assets/img/female.png' : 
                        '../../assets/img/male.png'" alt="image" class="imaged rounded">
                        <h2 class="avtar-text" *ngIf="user" style="color: #fff;font-size: 20px;margin-top: 6px;">
                            {{ user.name?user.name[0].family+', '+user.name[0].given.join() :''}} </h2>
                    </a>

                </div>
                <ul class="listview flush transparent no-line image-listview mt-2">


                    <li>
                        <a (click)="goToDashBoard('home')" class="item">
                            <div class="icon-box">
                                <ion-icon name="home"></ion-icon>

                            </div>
                            <div class="in">
                                <div>Home</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a (click)="goToVisit('visit')" class="item">
                            <div class="icon-box">
                                <i class="fa fa-history icon" aria-hidden="true"></i>

                            </div>
                            <div class="in">
                                <div>Visit History</div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a (click)="goLabResult('visit')" class="item">
                            <div class="icon-box">
                                <i class="fa fa-flask icon" aria-hidden="true"></i>

                            </div>
                            <div class="in">
                                <div>Lab Result</div>
                            </div>
                        </a>
                    </li>



                    <li>
                        <a (click)="insuranceInfo('insures')" class="item">
                            <div class="icon-box">
                                <i class="fa fa-file-text icon" aria-hidden="true"></i>
                            </div>
                            <div class="in">
                                <div> Insurance Details</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a (click)="goToProviders('provider')" class="item">
                            <div class="icon-box">
                                <ion-icon name="business"></ion-icon>
                            </div>
                            <div class="in">
                                <div> Provider Details</div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a (click)="goToVital('vital')" class="item">
                            <div class="icon-box">
                                <ion-icon name="receipt"></ion-icon>

                            </div>
                            <div class="in">
                                <div> Vital Signs</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a (click)="goToMedical('medical')" class="item">
                            <div class="icon-box">
                                <ion-icon name="medkit"></ion-icon>

                            </div>
                            <div class="in">
                                <div> Medical History</div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a (click)="goToProfile('profile')" class="item">
                            <div class="icon-box">
                                <ion-icon name="person"></ion-icon>

                            </div>
                            <div class="in">
                                <div> Patient Profile</div>
                            </div>
                        </a>
                    </li>




                </ul>
                <h3 style="margin-top: 173px;"> <a style="color:dodgerblue; cursor: pointer; margin-left: 20px;">Sign Out</a></h3>

                <!-- * sidebar buttons -->
            </div>
        </div>
    </div>
    <!-- * App Sidebar -->

    <!-- welcome notification  -->
    <!-- <div id="notification-welcome" class="notification-box">
        <div class="notification-dialog android-style">
            <div class="notification-header">
                <div class="in">

                    <strong>Health Chain</strong>
                    <span>just now</span>
                </div>
                <a class="close-button" (click)="closeInfo()">
                   X
                </a>
            </div>
            <div class="notification-content">
                <div class="in">
                    <h3 class="subtitle">Welcome to Health Chain</h3>

                </div>
            </div>
        </div>
    </div> -->