  .side-nav {
      height: calc(100vh - 70px);
      position: fixed;
      top: 70px;
      box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .15);
      background-color: rgba(242, 242, 242, 1);
      z-index: 1000;
      flex: 0 0 250px;
      max-width: 250px;
      min-width: 250px;
      width: 250px;
  }
  
  #appCapsule {
      padding: 90px 90px;
      margin-bottom: env(safe-area-inset-bottom);
      margin-top: env(safe-area-inset-top);
      margin-left: 15%;
  }
  
  .hidden-lg {
      display: none;
  }
  
  @media screen and (max-width: 768px) {
      .hidden-xs {
          display: none;
      }
      #appCapsule {
          padding: 90px 0;
          margin-bottom: env(safe-area-inset-bottom);
          margin-top: env(safe-area-inset-top);
          margin-left: 0px;
      }
      .hidden-lg {
          display: inline-flex;
      }
      .profileBox {
          margin-left: 51px !important;
      }
	  .dropdown-toggle::after{
		  display:none;
	  }
  }
  
  .profileBox {
      margin-left: 0;
  }
  
  svg {
      stroke: currentcolor;
      color: rgb(245, 109, 60) !important;
  }