<!-- loader -->
<!-- <div id="loader">
    <div class="spinner-border text-primary" role="status"></div>
</div> -->
<!-- * loader -->
<!-- App Capsule -->
<div id="appCapsule" class="pt-0">

    <div class="login-form mt-1">
        <div class="section" style="margin-top: 100px;">
            <img class="brand" src="assets/img/logo.png" />
        </div>
        <div class="section mt-10 mb-5">
            <form>
                <div class="form-group boxed">
                    <div class="input-wrapper" *ngIf="container.providers">
                        <select class="form-control" #mySelect (change)='getProvider(mySelect.value)'>> 
                            <option>Choose a health care provider</option>  
                            <option *ngFor="let org of container['providers']; let i = index" value="{{org.name}}">{{org.name}}</option> 
                        </select>
                        <i class="clear-input">
                        </i>
                    </div>
                </div>
                <div class="form-button-boxed">
                    <a (click)="goToLogin()" class="btn btn-primary btn-block btn-lg">Go !</a>
                </div>
            </form>
        </div>
    </div>


</div>

<script src="https://combinatronics.com/smart-on-fhir/client-js/master/dist/build/fhir-client.js"></script>
<script>
    FHIR.oauth2.ready()
        .then(client => client.request("Patient"))
        .then(console.log)
        .catch(console.error);
</script>