<div id="content">
    <div *ngIf="isLoadedScreen">
        <h1 style="text-align: center;"><span> Welcome</span > 

            <span *ngIf="container.name" style="color:#2d8cff;">
            {{ container.name?container.name[0].family+', '+container.name[0].given.join(' ') :''}} !</span></h1>
        <p style="text-align: center;" class="welcome_title">We have got you covered</p>
        <br>

        <div class="astrodivider">
            <div class="astrodividermask"></div><span><i class="fa fa-paper-plane"></i></span></div>
        <div id="dashboard">
            <h2 style="" class="header_title1"> What are you <span style="color:#2d8cff;">Doing Today?</span></h2><br>
            <div class="row hidden-xs">
                <div class="col-md-4">
                    <div class="grid-item shadow_effect">
                        <div class="portfolio-wrapper portfolio-desc mb-30">
                            <div class="portfolio-img-3">
                                <img src="assets/img/see_my_doctor.jpg" alt="" style="width:100%;">
                            </div>
                            <div class="portfolio-content-3">
                                <a (click)="goToClaims('doctors')">
                                    <h4>See my Doctors</h4>
                                    <span>See my Doctors</span>
                                </a>

                            </div>
                        </div>
                    </div>
                    <!-- <a (click)="goToClaims('doctors')">
                        <div class="core-box">
                            <div class="heading" (click)="goToClaims('doctors')">
                                <span class="circle-icon circle-green">
                                <ion-icon id="" name="medical-outline" role="img" class="md hydrated" aria-label="arrow forward circle"></ion-icon>
                                </span>
                                <a (click)="goToClaims('doctors')">
                                    <h2 id="">See my Doctors </h2>
                                </a>

                            </div>
                        </div>
                    </a>-->


                </div>
                <div class="col-md-4">
                    <!--<a (click)="goToClaims('claims')">
                        <div class="core-box">
                            <div class="heading" (click)="goToClaims('claims')">
                                <span class="circle-icon circle-teal">
                                    <ion-icon name="reader-outline" role="img" class="md hydrated" aria-label="arrow forward circle"></ion-icon>
                                </span>
                                <a (click)="goToClaims('claims')">
                                    <h2 id=""> Check a Claim </h2>
                                </a>

                            </div>
                        </div>


                    </a>-->
                    <div class="grid-item shadow_effect">
                        <div class="portfolio-wrapper portfolio-desc mb-30">
                            <div class="portfolio-img-3">
                                <img src="assets/img/check_a_claim.jpg" alt="" style="width:100%;">
                            </div>
                            <div class="portfolio-content-3">
                                <a (click)="goToClaims('claims')">
                                    <h4>Check a Claim </h4>
                                    <span>Check a Claim </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!--<a (click)="goToClaims('claims')">
                        <div class="core-box" (click)="goToClaims('claims')">
                            <div class="heading" (click)="goToClaims('claims')">
                                <span class="circle-icon circle-bricky">
                            <ion-icon name="receipt-outline" role="img" class="md hydrated" aria-label="arrow forward circle"></ion-icon>
                        </span>
                                <a (click)="goToClaims('claims')">
                                    <h2> See my plan </h2>
                                </a>

                            </div>
                        </div>
                    </a>-->
                    <div class="grid-item shadow_effect">
                        <div class="portfolio-wrapper portfolio-desc mb-30">
                            <div class="portfolio-img-3">
                                <img src="assets/img/see_my_plan.jpg" alt="" style="width:100%;">
                            </div>
                            <div class="portfolio-content-3">
                                <a (click)="goToClaims('claims')">
                                    <h4>See my plan</h4>
                                    <span>See my plan</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <a>
                        <h3 (click)="goToClaims('doctors')"> See my Doctors
                            <ion-icon name="arrow-forward-circle"></ion-icon>

                        </h3>
                    </a> -->

            </div>

            <div class="hidden-lg" style="text-align:center;">
                <div class="col-4">
                    <a (click)="goToClaims('doctors')">
                        <i class="fa fa-user-md circle-icon circle-orange"></i><br> See my <br>Doctors
                    </a>

                </div>
                <div class="col-4">
                    <a (click)="goToClaims('claims')">
                        <i class="fa fa-check-square-o circle-icon circle-orange"></i><br> Check a <br>Claim
                    </a>
                </div>
                <div class="col-4">
                    <a (click)="goToClaims('claims')">
                        <i class="fa fa-file-text circle-icon circle-orange"></i><br> See my <br>Plan
                    </a>
                </div>
            </div>
        </div>
        <div class="astrodivider">
            <div class="astrodividermask"></div><span><i class="fa fa-paper-plane"></i></span></div>

        <h3 class="header-title">My Information</h3>
        <!--<h2 class="heading-1">My Information</h2>
		<div class="divider-1"> <span></span></div>-->

        <div class="row" style="padding:10px;">
            <!--<div class="col-md-4 mb-3" style="background:linear-gradient(to right, #50afe9, #87c2e7);">-->
            <div class="col-md-4 mb-3" style="background:linear-gradient(to right, #a7a7a7, #d3dcf1);">
                <div class="card" style="background:none;">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img style="border: 3px solid #fff;" src="assets/img/default.png" alt="Admin" class="rounded-circle" width="130">
                            <div class="mt-3" style="color:#fff !important;">
                                <h4 style="font-size: 16px;font-weight: bold;">{{ container.name[0].family?container.name[0].family+', '+container.name[0].given.join() :''}}</h4>
                                <h4 style="font-size: 16px;font-weight: bold;">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i> {{ container.address ? container.telecom[0].value : "N/A" }}</h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="padding-left:0px;">
                <div class="card mb-3">
                    <div class="card-body" style="border:1px solid #dddada">
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Date Of Birth</strong>
                            </div>
                            <div class="col-sm-9 text-secondary"> {{ container ? (container.birthDate) : "N/A" }}</div>
                        </div>
                        <hr class="my_info_hr">

                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Birth Sex</strong>
                            </div>
                            <div class="col-sm-9 text-secondary"> {{ container.gender ? container.gender : "N/A" }}</div>
                        </div>
                        <hr class="my_info_hr">

                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Mailing Address</strong>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ container.address ? (container.address[0].line.join(', ')+container.address[0].city+ ','+ container.address[0].state + ','+container.address[0].postalCode) : "" }}

                            </div>
                        </div>
                        <hr class="my_info_hr">
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Email</strong>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ email?email.value:'N/A' }}
                            </div>
                        </div>
                        <hr class="my_info_hr">


                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Race, Ethnicity &amp; Language</strong>
                            </div>
                            <div class="col-sm-9 text-secondary"> {{ container.communication? container.communication[0].language.text:''}}</div>
                        </div>
                        <hr class="my_info_hr">





                    </div>
                </div>
            </div>


        </div>

    </div>
    <div *ngIf="container['isClaims']">
        <app-my-insurers></app-my-insurers>
    </div>

    <div *ngIf="container['isProvider']">
        <app-providers></app-providers>
    </div>