.hidden-lg {
      display: none;
  }
  
  @media screen and (max-width: 768px) {
      .hidden-xs {
          display: none;
      }
      #appCapsule {
          padding: 90px 0;
          margin-bottom: env(safe-area-inset-bottom);
          margin-top: env(safe-area-inset-top);
          margin-left: 0px;
      }
      .hidden-lg {
          display: inline-flex;
		  width:100%;
      }
      
  }