<div class="container ">


    <div><br>
		<h2 class="heading_title"> <ion-icon name="person" style="color:rgb(19, 137, 195) !important;"></ion-icon> About <span style="color:#2d8cff;">Me</span></h2><br>
    
        <br>
        <div class="row" style="padding:10px;">
		
		<!--<ul class="author-overview-list">
			<li class="
		author-card
		author-card--correspondent 
		js-author-card 
				
	" data-author-id="51650" data-initialized-as="a">
	<div class="author-card__header">
		
				
	
			<img src="https://useruploads.cdn-thecorrespondent.com/image/tJJAZTbQ3Wozzq6ScAhC3_wUU5c=/380x440/tc-useruploads-images/0495c5cb7d0a420a88dd1871292f1afb.png" class="author-card__avatar" role="presentation">
		</div>
	<div class="author-card__body">
		<h2 class="author-card__name">OluTimehin Adegbeye</h2>
					<h3 class="author-card__expertise">
				Othering correspondent
			</h3>
							<p>
				OluTimehin Adegbeye is a writer and speaker whose work focuses on rights and justice in gender, sexualities, and urbanisation. Her TED Talk  "Who Belongs in a City?", has been viewed over 2 million times.
			</p>
			</div>
	
</li>
		</ul>-->
            <div class="col-md-4 mb-3" style="background:linear-gradient(to right, #2d8cff, #2d8cff); margin-bottom:0px !important;">
                <div class="card" style="background:none;">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center" style="margin-top:-80px">
                            <img style="border: 3px solid #fff;" src="assets/img/default.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3" style="color:#fff !important;">
                                <h4 style="color:#fff !important;">{{ container.name?container.name[0].family+''+container.name[0].given.join() :''}}</h4>
                                <h4 style="color:#fff !important;">
                                    <ion-icon name="call-outline" style="color:#fff !important;"></ion-icon> {{ phone?phone.value:''}}</h4>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="padding-left:0px; padding-right:0px;">
                <div class="card" style="margin-bottom:0px; !important;">
                    <div class="card-body" style="border:1px solid #dddada">
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Date Of Birth</strong>
                            </div>
                            <div class="col-sm-9 text-secondary"> {{ container ? (container.birthDate) : "" }}</div>
                        </div>
                       <hr class="my_info_hr">

                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Birth Sex</strong>
                            </div>
                            <div class="col-sm-9 text-secondary"> {{ container.gender ? container.gender : "" }}</div>
                        </div>
                       <hr class="my_info_hr">

                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Mailing Address</strong>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ container.address ? (container.address[0].line.join(', ')+container.address[0].city+ ','+ container.address[0].state + ','+container.address[0].postalCode) : "" }}
                            </div>
                        </div>
						<hr class="my_info_hr">
						<div class="row">
                            <div class="col-sm-3">
                                <strong>Email</strong>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                
								{{ email?email.value:'N/A' }}
                            </div>
                        </div>
						
                       <hr class="my_info_hr">

                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Race, Ethnicity &amp; Language</strong>
                            </div>
                            <div class="col-sm-9 text-secondary"> {{ container.communication ? container.communication[0].language.text:''}}</div>
                        </div>
                        <hr class="my_info_hr">

                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Smoking Status</strong>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <ul style="list-style: none;">
                                    <li *ngFor="let item of Observation.entry">

                                        <p *ngIf="item.resource.code.text">{{ item.resource.id ? item.resource.id : "" }} {{ item.resource.code.text ? item.resource.code.text : "" }}</p>
                                    </li>
                                    <li>Not A Smoker</li>
                                </ul>
                            </div>
                        </div>
                       <hr class="my_info_hr">



                    </div>
                </div>
            </div>
        </div>






    </div> 
	
	<div class="astrodivider"><div class="astrodividermask"></div><span><i class="fa fa-paper-plane"></i></span></div>


    <div *ngIf="container['CarePlan']">
	
	<!--<h2 class="heading-1">Patient Goals</h2>
	<div class="divider-1"> <span></span></div><br>-->
	 <h3 class="header-title">Patient Goals</h3>
	<!--<h3 style=" font-weight: 500; font-style: normal; " class="header_title ">Patient Goals</h3>-->
		<div *ngFor="let item of container['CarePlan'].entry">
				<span class="desc" >{{ item.resource.description ? item.resource.description.text :''}} </span><br>
				<span class="desc" ><strong>Achievement Status : </strong>{{ item.resource.achievementStatus.coding[0].code ? item.resource.achievementStatus.coding[0].code :''}} </span><br>
				<span class="text-right" ><small><strong>Last Updated : </strong>{{ item.resource.meta.lastUpdated ? (item.resource.meta.lastUpdated | date :'MM/dd/YYYY') :''}}</small> </span>
				
			</div>
			
        <br>
		<!-- <div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th>Desciption</th>
					<th>Achievement Status</th>
					<th>Last Updated</th>

				</thead>
				<tr *ngFor="let item of container['CarePlan'].entry">
					<td>{{ item.resource.description ? item.resource.description.text :''}}</td>
					<td>{{ item.resource.achievementStatus.coding[0].code ? item.resource.achievementStatus.coding[0].code :''}}</td>
					<td>{{ item.resource.meta.lastUpdated ? (item.resource.meta.lastUpdated | date :'MM/dd/YYYY') :''}}</td>
				</tr>

			</table>
		</div>-->




    </div>














</div>