.desc{
	font-size:14px;
	color:#777777;
}

.small, small {
    font-size: 78%;
    font-weight: 400;
}

.astrodivider {
    margin: 40px auto;
    width: 90%;
    max-width: 100%;
    position: relative;
}

