<br>
<h2 class="heading_title">
    <ion-icon name="medkit" style="color:rgb(19, 137, 195) !important;"></ion-icon> Medical <span style="color:#2d8cff;">History</span></h2><br>

<div class="accordion" id="accordionExample2">

    <div class="item">
        <div class="accordion-header">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion01" aria-expanded="false"> Allergies and Intolerance  </button>
        </div>
        <div id="accordion01" class="accordion-body collapse" data-parent="#accordionExample2" style="">
            <div class="accordion-content" *ngIf="containers.entry">
                <ul class="listview image-listview custom-list">

                    <li class="item" *ngFor="let item of allergyintolerance.entry let i=index;">

                        <p><strong>Allergy Name  </strong> : {{item.resource.code.coding ? item.resource.code.coding[0].display : 'N/A'}}</p>

                        <p><strong> Criticality </strong> : {{ item.resource.criticality ? item.resource.criticality : 'N/A' }}</p>
                        <p><strong> Recorded Date </strong> : {{ item.resource.recordedDate ? (item.resource.recordedDate | date :'MM/dd/YYYY') : 'N/A'}}</p>
                        <p><strong>Notes</strong> : {{ item.resource.note ? (item.resource.note[0].text) : 'N/A'}}</p>

                    </li>
                </ul>


            </div>
            <!-- <template #empty>No Records Found</template> -->
        </div>
    </div>
    <div class="item">
        <div class="accordion-header">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion02" aria-expanded="false">Health Concerns
                    </button>
        </div>
        <div id="accordion02" class="accordion-body collapse" data-parent="#accordionExample2" style="">
            <div class="accordion-content">
                <ul class="listview image-listview custom-list">

                    <li class="item" *ngFor="let item of containers.entry let i=index;">

                        <p><strong>Health Condition  </strong> : {{item.resource.code.text ? item.resource.code.text : 'N/A'}}</p>

                        <p><strong>Recorded Date </strong> : {{item.resource.recordedDate ? (item.resource.recordedDate | date :'MM/dd/YYYY') : 'N/A'}}</p>
                        <p><strong>Clinical Status </strong> : {{item.resource.clinicalStatus.coding ? item.resource.clinicalStatus.coding[0].code : 'N/A'}}</p>
                        <p><strong>Encounter Detail </strong> :</p>

                        <p id="concern_{{i}}" (onCreate)="getEncounterDetail(item.resource.encounter.reference,'concern_',i)"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="accordion-header">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion03" aria-expanded="false">Immunization
                    </button>
        </div>
        <div id="accordion03" class="accordion-body collapse" data-parent="#accordionExample2" style="">
            <div class="accordion-content">
                <ul class="listview image-listview custom-list">

                    <li class="item" *ngFor="let item of immunization.entry let i=index;">
                        <p><strong> Vaccine Code </strong> : {{item.resource.vaccineCode ? item.resource.vaccineCode.text : 'N/A'}}</p>
                        <p><strong> Occurrence DateTime  </strong> : {{item.resource.occurrenceDateTime ? (item.resource.occurrenceDateTime | date :'MM/dd/YYYY') : 'N/A'}}</p>
                        <p><strong> Status </strong> : {{item.resource.status ? item.resource.status : 'N/A'}}</p>
                        <p><strong>Encounter Detail </strong> :</p>
                        <p id="immunization_{{i}}" (onCreate)="getEncounterDetail(item.resource.encounter.reference,'immunization_',i)"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="accordion-header">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion04" aria-expanded="false">
                    Medications
                    </button>
        </div>

        <div id="accordion04" class="accordion-body collapse" data-parent="#accordionExample2">

            <div class="accordion-content">
                <ul class="listview image-listview custom-list">

                    <li class="item" *ngFor="let container of medications.entry let i=index">
                        <p><strong>Medication Name</strong> : {{container.resource.medicationCodeableConcept.text ? container.resource.medicationCodeableConcept.text : 'N/A'}}</p>
                        <p><strong>Authored On </strong> : {{container.resource.authoredOn ?(container.resource.authoredOn | date :'MM/dd/YYYY') : 'N/A'}}</p>
                        <p><strong> Status </strong> : {{container.resource.status?container.resource.status : 'N/A'}}</p>
                        <p><strong> Prescribed By </strong> : {{container.resource.requester.display ? container.resource.requester.display : 'N/A'}}</p>
                        <p><strong>Encounter Detail </strong> :</p>
                        <p id="medications_{{i}}" (onCreate)="getEncounterDetail(container.resource.encounter.reference,'medications_',i)"></p>
                    </li>
                </ul>

            </div>
        </div>
    </div>



    <div class="item">
        <div class="accordion-header">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion06" aria-expanded="false">
                     Procedures
                     </button>

        </div>
        <div id="accordion06" class="accordion-body collapse" data-parent="#accordionExample2">
            <div class="accordion-content">
                <ul class="listview image-listview custom-list">
                    <li class="item" *ngFor="let container of procedure.entry let i=index">

                        <p><strong>Procedure Name : </strong>
                            <span *ngFor="let item of container.resource.reasonReference">
                            
                            {{item.display ? item.display : 'N/A'}}<br>
                            </span>
                        </p>
                        <p><strong>Reason </strong> : {{container.resource.code.text ? container.resource.code.text : 'N/A'}}</p>
                        <p><strong>Status</strong> : {{container.resource.status?container.resource.status: 'N/A'}}</p>
                        <p><strong>Period Performed</strong> : {{container.resource.performedPeriod.start | date:'MM/dd/YYYY'}} </p>
                        <p><strong>Encounter Detail </strong> : </p>
                        <p id="procedure_{{i}}" (onCreate)="getEncounterDetail(container.resource.encounter.reference,'procedure_',i)"></p>
                    </li>
                </ul>
            </div>

        </div>
    </div>









</div>