<!-- App Capsule -->
<div id="appCapsule" class="pt-0">

    <div class="login-form mt-1">
        <div class="section" style="margin-top: 100px;">
            <img src="assets/img/logo.png" alt="image" class="form-image">
        </div>
        <div class="section mt-10 mb-5" style="margin-top: 20px;">

            <form class="login">
                <div class="form-group text-left">
                    <label class="text-left" for="username">Username </label>
                    <input type="text" class="form-control" name="username" #username/>
                </div>
                <div class="form-group text-left">
                    <label for="username" class="text-left">Password </label>
                    <input type="password" class="form-control" name="password" #password />
                </div>
                <button type="button" (click)="login(username.value,password.value)" class="btn btn-block btn-primary">Login</button>
            </form>


            <!-- <ul class="listview image-listview custom-list">
                <li *ngFor="let item of container.entry  | paginate: { itemsPerPage: 5, currentPage: p, id: 'first' }; let i = index">
                    <a class="item ">
                        <div class="in ">
                            <div class="text-left ">
                                <header (click)="choosePatient(item.resource.id) ">{{ item.resource.name[0].family+' '+ item.resource.name[0].given.join()}}</header>

                            </div>
                        </div>
                    </a>
                </li>
            </ul> -->


        </div>

        <!-- <div class="float-right pagination">
            <pagination-controls (pageChange)="p = $event" id="first"></pagination-controls>
        </div> -->
    </div>
</div>