<!-- loader -->
<div id="loader">
    <div class="spinner-border text-primary" role="status"></div>
</div>
<!-- * loader -->
<!-- App Capsule -->
<div id="appCapsule" class="pt-0">

    <div class="login-form mt-1">
        <div class="section" style="margin-top: 100px;">
            <img class="brand" src="assets/img/logo.png" />
            <h1>
                <p>CMS Intetop Testing Tool</p>
            </h1>
        </div>
    </div>

    <div class="login-form mt-1">
        <div class="section mt-10 mb-5">
            <h2>Interactive Test</h2>
            <form class="text-left">
                <div class="form-group boxed">
                    <div class="input-wrapper" *ngIf="container.providers">
                        <select class="form-control" #mySelect (change)='getProvider(mySelect.value)'>> 
                            <option>Choose a health care provider</option>  
                            <option *ngFor="let org of container['providers']; let i = index" value="{{org.name}}">{{org.name}}</option> 
                        </select>
                        <i class="clear-input">
                        </i>
                    </div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" id="name" class="form-control" [value]="provider.name?provider.name:''" #name>
                </div>
                <div class="form-group">
                    <label>Client Id</label>
                    <input type="text" id="client_id" class="form-control" [value]="provider.client_id?provider.client_id:''" #client_id>
                </div>
                <div class="form-group">
                    <label>Client Secret</label>
                    <input type="text" id="client_secret" class="form-control" [value]="provider.client_secret?provider.client_secret:''" #client_secret>
                </div>
                <div class="form-group">
                    <label>Authority</label>
                    <input type="text" id="authority" class="form-control" [value]="provider.authority?provider.authority:''" #authority>
                </div>
                <div class="form-group">
                    <label>Redirect Uri</label>
                    <input type="text" id="redirect_uri" class=" form-control" [value]="provider.redirect_uri?provider.redirect_uri:''" #redirect_uri>
                </div>
                <div class="form-group ">
                    <label>Scope</label>
                    <input type="text " id="scope " class="form-control" [value]="provider.scope?provider.scope:''" #scope>
                </div>
                <div class="form-group ">
                    <label>Endpoint</label>
                    <input type="text " id="endpoint " class="form-control" [value]="provider.endpoint?provider.endpoint:''" #endpoint>
                </div>

                <div class="form-group d-none ">
                    <label>Patient Id</label>
                    <input type="text " id="patient_id " class="form-control" [value]="provider.patient_id?provider.patient_id:''" #patient_id>
                </div>
                <div class="form-group ">
                    <label class="checkbox">Bypasslogin </label>
                    <input type="checkbox" (change)="onCheckboxChange($event)" #bypasslogin>
                    <label class="checkbox">Update All </label>
                    <input type="checkbox" (change)="onCheckboxChange($event)" #update>
                </div>
                <button type="button" class="btn btn-primary btn-block btn-lg " (click)="saveInteractive(name.value,client_id.value,client_secret.value, authority.value,redirect_uri.value,scope.value,endpoint.value,patient_id.value,bypasslogin.value,update.value) ">Save Parameters</button>

            </form>


            <!-- <h2>Batch Test</h2>
            <form class="text-left ">
                <div class="input-wrapper ">
                    <label>
                  FHIR Server Address :
                </label> <input class="form-control " type="text " #BATFHIRADD>
                </div>
                <div class="input-wrapper ">

                    <label>
                 Client Id :
                </label>
                    <input class="form-control " type="text " #BATCLIENTID>
                </div>
                <div class="input-wrapper ">
                    <label>
                    Client Server :
                  </label> <input class="form-control " type="text " #BATCLIENTSERVER>
                </div>
                <div class="input-wrapper ">

                    <label>
                    Patient Ids :
                  </label> <input class="form-control " type="text " #BATPATIENTID>
                </div>
                <br>


                <button class="btn btn-primary btn-block btn-lg " (click)="saveBatchTest(BATFHIRADD.value,BATCLIENTID.value, BATCLIENTSERVER.value,BATPATIENTID.value) ">Save Parameters</button>
                <button class="btn btn-danger btn-block btn-lg ">Start Batch Test</button>
            </form> -->


        </div>
    </div>
</div>